{% include 'header.html' %}

    <!-- hero section -->
    <div class="container-fluid px-4 py-0 mb-lg-0">
      <header
        class="masthead"
        style="background-image: url('../static/assets/img/services-image.jpg')"
        >
          <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="../static/assets/img/mvmedia-logo.png" alt="mv-logo" height="57">
            <h1 class="display-5 fw-bold">Creative Services tailored to your needs</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Transform Your Footage with Expert Editing and Engaging Graphics</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#icon-grid">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Learn More</button>
              </a>
              </div>
            </div>
          </div>
      </header>
    </div>

    <!-- features cards -->
    <div class="container px-4 py-5 mt-4" id="custom-cards">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-0">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/assets/img/feature-huberman.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-0 display-6 lh-1 fw-bold">Podcasts</h3>             
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/assets/img/feature-lex.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-0 display-6 lh-1 fw-bold">Interviews</h3>
            </div>
          </div>
        </div>    
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg align" style="background-image: url('../static/assets/img/feature-JP.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-0 display-6 lh-1 fw-bold">Reactions</h3>               
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- features grid -->
      <div class="container px-4 py-5 mt-4" id="icon-grid">
        <h2 class="pb-2 border-bottom">We've got you covered</h2>   
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 pb-0">
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Long Form</h3>
              <p>Let us edit your Long Form Content so you have time to plan your next one</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Short Form</h3>
              <p>We will find the most viral moments and turn them into shorts and reels</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Thumbnails</h3>
              <p>We design scroll stopping thumbnails</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Social Media Posts</h3>
              <p>Turn your thoughts into engaging meme like graphics</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Subtitles</h3>
              <p>We can burn subtitles directly into your video</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Narration</h3>
              <p>We can record narrations and voice overs for all your faceless channels</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Titles</h3>
              <p>Increase the production value of your content by having animated title sequences</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Reversioning</h3>
              <p>Re-use your own content for different regions</p>
            </div>
          </div>
        </div>
      </div>


      <!-- features CTA -->
      <div class="container px-4 py-5 mt-4">
        <header
        class="masthead"
        style="background-image: url('../static/assets/img/features-cta.jpg')"
        >
        <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Unlock the Full Potential of Your Content</h1>
          <p class="col-lg-8 mx-auto fs-5">
            Unleash the Full Potential of Your Content with Our Podcast Production Services. Get Started Today!
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{  url_for('contact_page')  }}">
            <button class="btn btn-primary btn-lg px-4 gap-3" type="button">
              Contact Us
            </button>
            </a>
          </div>
        </div>
        </header>
      </div>

      <!-- Footer-->
      {% include 'footer.html' %}